body {
    background-color: #2E414B;
/*    font-family: Arial, sans-serif;*/
}

.container {
    background-color: #535657;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: #2E414B;
    background-color: #B7ADCF;
    padding: 10px;
    border-radius: 30px;
    font-family: "Madimi One", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

details {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

details summary {
    background-color: #B7ADCF;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    cursor: pointer;
    display: block;
    color: #2E414B;
}

details summary + i {
    background-color: #B7ADCF;
    display: block;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    color: #2E414B;
}


input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    color: #D0CBDD;
    font-weight: bold;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}


img {
    display: block;
    margin: auto;
    width: 200px;
}

footer {
    text-align: center;
    color: #D0CBDD;
}
